@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

body {
    margin: 0px;
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
    font-style: normal;
    height: 100%;
}

div#particles-js {
    width: 100%;
    height: 100%;
    z-index: -10;
    animation: filter 30s infinite;
    background: linear-gradient(180deg, rgba(0,255,163,1) 0%, rgba(50,229,67,1) 100%);
}

#top {
    visibility: hidden;
    opacity: 0;
    position: fixed; 
    right: 20px;
    bottom: 2px;  
    background-color: #000000DD; 
    cursor: pointer; 
    border-radius: 4px;
    transition: background-color .2s, opacity .2s, visibility .2s;
    padding: 10px;
}

#top.active {
    opacity: 1;
    visibility: visible;
}

#top:hover {
    background-color: #FFFFFFDD;
}

#top:hover svg path {
    fill: #000000;
}

#pagebox {
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    overflow: auto;
}

#menu {
    display: flex;
    flex-direction: row;
}

#menu div {
    background-color: #00000044;
    font-size: 20px;
    width: 100%;
    margin: 5px;
    padding: 5px;
    text-align: center;
    display: flex;
    flex-direction: column;
    border-radius: 4px;
}

#menu div a {
    background-color: #00000044;
    margin: 3px;
    padding: 5px;
    font-size: 15px;
    border-radius: 4px;
}

#menu div a:hover {
    background-color: #FFFFFF;
    color: #000000;
}

.topnav {
    flex-grow: 0;
    width: 100%;
    display: flex;
    justify-content: center;
}

.topnav .space {
    background-color: #333333DD;
}
  
.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 10px 15px;
    text-decoration: none;
    background-color: #2f2f2ffa;
    font-size: 17px;
}

.topnav a:hover {
    cursor: pointer;
    background-color: #ddd;
    color: black;
}

.topnav a.active {
    background-color: #00000000;
    color: white;
}

.content {
    flex-grow: 0;
    color: white;
    margin-top: 1vh;
    margin-bottom: 1vh;
    margin-left: 10vw;
    margin-right: 10vw;
    text-align: justify;
    padding: 15px;
    background: #444444EE;
    border: 5px #444444EE;
    border-radius: 3px;
}

.content h1 {
    text-align: center;
    margin-bottom: 0px; 
}

.content h2 {
    text-align: center;
}

.content pre {
    padding: 5px;
    border-radius: 4px;
    background-color: #00000033;
}

.content #examples {
    display: flex;
    flex-direction: row;
}

.content #examples p {
    padding-right: 5px;
}

footer {
    flex-grow: 0;
    background: #000000DD;
    color: white;
    text-align: left;
    display: flex;
    flex-direction: row;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 50px;
    padding-bottom: 50px;
}

footer p {
    padding-right:5px;
}

.space {
    flex-grow: 1;
}

@media (max-width: 680px) {
    .content{
        margin-left: 1vh;
        margin-right: 1vh;
    }
    .content svg {
        width: 25vw;
        height: 25vw;
    }
}
  
@keyframes filter {
    from {
        filter: hue-rotate(0deg) saturate(100%);
    }
    50% {
        filter: hue-rotate(360deg) saturate(140%);
    }
    to {
        filter: hue-rotate(0deg) saturate(100%);
    }
}

